@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
    padding: 0;
}
.half{
    background: linear-gradient(90deg, #2512A6 50%, white 50%);
}

.half2{
    background: linear-gradient(0deg,  #2512A6 59%, white 0%);
}


